In [16]:
import pickle

#opening the pickle file
file_name = "pickle_files/cleaned_sp500_df.pkl"
with open(file_name, 'rb') as file:
    cleaned_sp500_df = pickle.load(file)

In [17]:
cleaned_sp500_df.head()

Ticker,TSLA,MLM,POOL,PAYX,JCI,GPC,CAH,AJG,DLTR,HOLX,...,RCL,PRU,GRMN,HAS,ESS,NUE,JBHT,AMAT,ACGL,PYPL
Date,,,,,,,,,,,,,,,,,,,,,
2014-10-14 00:00:00+00:00,15.137333,98.845337,47.631180,31.855057,29.054077,65.548637,56.079235,36.220329,55.880001,23.920000,...,50.171078,52.597412,37.061481,39.956547,137.822662,38.207870,66.783379,16.996983,18.316668,NaN
2014-10-15 00:00:00+00:00,15.313333,100.631470,47.970528,31.496561,28.512375,65.820229,55.064140,36.089497,55.240002,23.360001,...,48.691025,51.030968,37.849709,39.592178,138.176483,38.254654,66.946983,17.076080,17.916668,NaN
2014-10-16 00:00:00+00:00,15.090000,104.286591,51.328083,31.525818,28.497742,66.423729,54.236980,35.885101,55.049999,23.150000,...,49.949516,51.660164,38.397095,39.504738,138.235413,38.628853,67.919609,17.462774,17.766666,NaN
2014-10-17 00:00:00+00:00,15.165333,108.374489,50.801243,31.825790,29.420084,66.800919,55.357380,36.481945,56.580002,23.860001,...,51.145958,53.128288,38.127060,39.242382,137.630951,38.909504,68.092300,17.471556,18.123333,NaN
2014-10-20 00:00:00+00:00,15.364667,110.114586,51.337040,32.008709,29.398130,67.472343,55.725842,36.694550,57.340000,24.010000,...,54.265591,53.088989,38.550365,41.180832,139.798157,39.353878,68.046844,17.638535,18.240000,NaN

In [18]:
#n_series contains the number of time series 
n_series=cleaned_sp500_df.shape[1]
n_series

469

In [ ]:
import numpy as np
# Initializing distance matrix
euclidean_distance = np.zeros((n_series, n_series))
dtw0_distance = np.zeros((n_series, n_series))
dtw60_distance = np.zeros((n_series, n_series))

In [28]:
from helpermodules.dtwclustering import DTWClustering

ImportError: cannot import name 'DTWClustering' from 'helpermodules.dtwclustering' (c:\Users\Nicolò Dal Monte\Desktop\università\STARTING FINANCE\dtwclustering_sp500\helpermodules\dtwclustering.py)

In [27]:
# Initializing distance matrix
euclidean_distance = np.zeros((n_series, n_series))
dtw0_distance = np.zeros((n_series, n_series))
dtw60_distance = np.zeros((n_series, n_series))

#two for cycle in order to obtain a distance matrix
for i in range(n_series):
    for j in range(i, n_series):
        distance= DTWClustering(cleaned_sp500_df.iloc[:,i], cleaned_sp500_df.iloc[:,j])
        euclidean_distance[i,j]= distance.euclidean_distance()
        dtw0_distance[i,j]= distance.dtw_no_window()
        dtw60_distance[i,j]= distance.dtw_with_window()
        # copy to value because the matrix is symmetric
        euclidean_distance[j, i] = euclidean_distance[i, j]
        dtw0_distance[j, i] = dtw0_distance[i, j]
        dtw60_distance[j, i] = dtw60_distance[i, j]

NameError: name 'DTWClustering' is not defined